*.gz
*.tfrecords
*.tfrecord
logs
MNIST
files
facebook_file
*.csv
tmp
modules
*.json
*.meta
module
interrupt
*.asv
*.rar
*.zip
*.gz
*.tar
model
*.bin
data
*.npy
*.nii
Data
*.dcm
*.hdf5
log
*.whl
*.sh
*.csv
*.tgz
*.exe
*.tar
*.wav
*.mp3
*.ogg
*.jpg
*.gif
*.png
*.jpeg
*.sql
*.pyc
*.mp4
*.mkv
*.rmvb
*.m4a
*.ico
*.make
*.cmake
*.out
*.pre-gen
*.cbp
*.o
*.idx
*.marks
*.xlsx
*.sqlite3
*.marks
*.internal
*.cxx
*.make
*.whl
*.cbp
*.includecache
*.jar
*.so
*.pack
*.depend
*.sample
*.pkl
__pycache__
*.h5
*.check_cache
*.pack
*.pdf
